<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block content %}
            Journal
        {% endblock %}
    </title>
<style>
   hr {
    border: none;
    background-color: black;
    height: 0.5px;
   }
  </style>
</head>
<body>
    <div class="main_container" >
        <div>
        {% block body %}
            <h2>Journal</h2>
        {% endblock %}
        </div>
    </div>
    <hr>
    <ul>
        <li>
            <a href="/">Main</a>
        </li>
        <li>
            <a href="/users/">Users</a>
        </li>
        <li>
            <a href="/posts/">Posts</a>
        </li>

    </ul>

</body>

</html>